@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-menu {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  width: 250px;
  padding: 0 20px;
  z-index: 1;
}
.dropdown-menu:hover .dropdown-content {
  display: block;
}
.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.dropdown-user {
  float: right;
  display: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  background-color: whitesmoke;
  width: 300px;
  padding: 10px 20px;
  z-index: 1;
  font: medium;
}
.dropdown:hover .dropdown-user {
  display: block;
}
.animated-text {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  animation: animateText 5s steps(30, end) infinite;
}
.color-changing-text {
  font-weight: bold;
  animation: colorChange 5s linear infinite;
}
@keyframes colorChange {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: orange;
  }
  100% {
    color: purple;
  }
}
@keyframes animateText {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.infoCourseHome {
  display: grid;
  color: white;
  grid-gap: 20px;
  gap: 20px;
}
.infoLargeItem {
  grid-row: 1 / span 2;
  background-color: green;
  background-position: 100% 100%;
  background-size: 50%;
  background-repeat: no-repeat;
}
.infoSmallItemA {
  --tw-bg-opacity: 1;
  background-color: rgb(202 138 4 / var(--tw-bg-opacity));
}
.infoSmallItemB {
  background-color: #5c8295;
}
.infoSmallItemC {
  background-color: #63c0a8;
}
.infoItemHome {
  position: relative;
  overflow: hidden;
  padding: 20px;
}
.infoItemHome h3 {
  text-transform: uppercase;
  font-weight: 500;
}
.infoLargeItem p {
  font-weight: 300;
}
.infoLargeItem p span {
  font-weight: 700;
}
.infoItemHome li {
  padding: 5px;
}
.infoItemHome li i {
  padding-right: 10px;
}
.sliderAbout {
  background-image: url(/public/bg_fullStack.png);
  background-position: 50%;
  padding: 150px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
